{% extends "base.html" %}
{% block content %}
<h3 >Add a new task</h3>
<div class="">
    <form action="" method="POST">
        <div class="row">
            <div class="col-sm-4">
                <div class="form-group">
                    <label>Task Name:</label>
                    <input type="text" class="form-control" name="title">
                </div>
            </div>
            <div class="col-sm-4"><label for="start">Deadline for task</label><br>
                <input type="date" id="start" name="deadline"
                ></div>

        </div>
        <!--            &lt;!&ndash;            task name&ndash;&gt;-->
        <!--            <div class="form-group">-->
        <!--                <label>Task Name:</label>-->
        <!--                <input type="text" class="form-control" name="title">-->
        <!--            </div>-->
        <!--            &lt;!&ndash;            deadline&ndash;&gt;-->
        <!--            <label for="start">Deadline for task</label>-->
        <!--            <input type="date" id="start" name="deadline"-->
        <!--            >-->
        <!--            task description-->
        <div class="form-group">
            <label for="comment">Task description</label>
            <textarea class="form-control" rows="5" id="comment" name="description" type="text"></textarea>
        </div>
        <!--        <input name="description" type="text"><br>-->
        <!--        <button type="">Add file</button>-->
        <br>
        <button class="btn btn-default" type="submit">Add Task</button>
        <form>
            <input class="btn btn-default" type="button" value="Back!" onclick="history.go(-1)">
        </form>
    </form>

</div>

{% endblock %}