<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Add Book</title>
    <!-- bootstrap and fontawesome -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://kit.fontawesome.com/efdaec7388.js" crossorigin="anonymous"></script>
</head>

<body>

    <div class="container h-100 d-flex justify-content-center">
        <h1 class="display-3">My tasks</h1>
        <div class="jumbotron my-auto"></div>
        <form action="" method="POST">
            <label>Book Name</label>
            <input name="title" type="text">
            <label>Book Author</label>
            <input name="description" type="text">
            <button type="submit">Add Task</button>
        </form>
    </div>
    </div>
</body>

</html>